Package: libaudclient2
Version: 3.4.1-1
Architecture: amd64
Multi-Arch: same
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Installed-Size: 40
Depends: libdbus-glib-1-2 (>= 0.78), libglib2.0-0 (>= 2.12.0)
Section: libs
Priority: optional
Homepage: http://audacious-media-player.org/
Description: audacious dbus remote control library

