Package: firefox
Version: 29.0-1
Architecture: amd64
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Installed-Size: 74892
Section: web
Priority: optional
Homepage: http://www.mozilla.org/en-US/firefox/all/
Description: Mozilla Firefox (zh_TW)
 Mozilla Firefox with zh_TW language package from official site.
