Package: firefox
Version: 71.0-1
Architecture: amd64
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Section: web
Priority: optional
Homepage: https://www.mozilla.org/zh-TW/firefox/new/
Description: Mozilla Firefox (zh_TW)
 Mozilla Firefox with zh_TW language package from the official site.
