Package: steam-launcher
Version: 1.0.0.43-1
Architecture: all
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Installed-Size: 8952
Depends: python, curl, libc6 (>= 2.13), python-apt, xterm | gnome-terminal | konsole, xz-utils, zenity
Breaks: steam64
Replaces: steam, steam64
Section: games
Priority: optional
Multi-Arch: foreign
Homepage: http://www.steampowered.com/
Description: Launcher for the Steam software distribution service
 Steam is a software distribution service with an online store, automated
 installation, automatic updates, achievements, SteamCloud synchronized
 savegame and screenshot functionality, and many social features.
