Package: fonts-source-han-mono
Version: 1.002-1
Architecture: all
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Section: fonts
Priority: optional
Description: Source Han Mono
 Source Han Mono is a set of OpenType/CFF Pan-CJK fonts.
