Package: audacious-dev
Version: 3.4.1-1
Architecture: amd64
Multi-Arch: same
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Installed-Size: 236
Depends: libaudclient2 (= 3.4.1-1), libaudcore1 (= 3.4.1-1), libdbus-1-dev (>= 0.60), libdbus-glib-1-dev (>= 0.60), libgtk-3-dev, libmcs-dev (>= 0.7)
Section: libdevel
Priority: optional
Homepage: http://audacious-media-player.org/
Description: audacious development files

