Package: iceweasel
Version: 24.0-1
Architecture: amd64
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Depends: firefox (>= 24.0)
Provides: www-browser, gnome-www-browser
Section: web
Priority: optional
Description: Replace iceweasel with Mozilla Firefox

