Package: ryuanlu-initramfs-tools
Version: 0.2-1
Architecture: all
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Depends: busybox-static, cpio, kmod
Provides: linux-initramfs-tool
Section: utils
Priority: optional
Homepage: https://ryuanlu.github.io/
Description: initramfs-tools written by Ruei-Yuan Lu

