Package: mesa
Version: 21.3.3-1
Architecture: amd64
Multi-Arch: same
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Depends: libc6, libelf1, libexpat1, libgcc-s1, libllvm11, libpciaccess0, libsensors5, libstdc++6, libwayland-client0, libwayland-server0, libx11-6, libx11-xcb1, libxcb1, libxcb-dri2-0, libxcb-dri3-0, libxcb-glx0, libxcb-present0, libxcb-randr0, libxcb-shm0, libxcb-sync1, libxcb-xfixes0, libxext6, libxfixes3, libxshmfence1, libxxf86vm1, zlib1g
Provides: libdrm2 (= 2.4.109-1), libdrm-amdgpu1 (= 2.4.109-1), libdrm-common (= 2.4.109-1), libdrm-dev (= 2.4.109-1), libdrm-intel1 (= 2.4.109-1), libdrm-nouveau2 (= 2.4.109-1), libdrm-radeon1 (= 2.4.109-1), libdrm-tests (= 2.4.109-1), libegl1-mesa (= 21.3.3-1), libegl1-mesa-dev (= 21.3.3-1), libegl-mesa0 (= 21.3.3-1), libgbm1 (= 21.3.3-1), libgbm-dev (= 21.3.3-1), libgl1-mesa-dev (= 21.3.3-1), libgl1-mesa-dri (= 21.3.3-1), libgl1-mesa-glx (= 21.3.3-1), libglapi-mesa (= 21.3.3-1), libgles2-mesa (= 21.3.3-1), libgles2-mesa-dev (= 21.3.3-1), libglx-mesa0 (= 21.3.3-1), mesa-common-dev (= 21.3.3-1), mesa-va-drivers (= 21.3.3-1), mesa-vdpau-drivers (= 21.3.3-1), mesa-vulkan-drivers (= 21.3.3-1)
Section: libs
Priority: optional
Homepage: https://www.mesa3d.org/
Description: Mesa 3D
 The Mesa project began as an open-source implementation of the OpenGL specification - a system for rendering interactive 3D graphics.
 .
 Over the years the project has grown to implement more graphics APIs, including OpenGL ES, OpenCL, OpenMAX, VDPAU, VA-API, XvMC, Vulkan and EGL.
 .
 A variety of device drivers allows the Mesa libraries to be used in many different environments ranging from software emulation to complete hardware acceleration for modern GPUs.
 .
 Mesa ties into several other open-source projects: the Direct Rendering Infrastructure, X.org, and Wayland to provide OpenGL support on Linux, FreeBSD, and other operating systems.

