Package: obs-studio
Version: 21.1.2-1
Architecture: amd64
Maintainer: 盧瑞元 (Ruei-Yuan Lu) <RueiYuan.Lu@gmail.com>
Depends: ffmpeg (=4.0.1-1), libasound2, libc6, libcurl3, libdbus-1-3, libfdk-aac1, libfontconfig1, libfreetype6, libgcc1, libgl1-mesa-glx, libice6, libpulse0, libqt5core5a, libqt5gui5, libqt5widgets5, libqt5x11extras5, libsm6, libstdc++6, libudev1, libv4l-0, libx11-6, libx11-xcb1, libx264-148, libxcb-shm0, libxcb-xfixes0, libxcb-xinerama0, libxcb1, libxcomposite1, libxext6, libxfixes3, zlib1g
Section: non-free/video
Priority: optional
Homepage: https://obsproject.com/
Description: OBS Studio - Free and open source software for live streaming and screen recording

